<h3>Create a new task</h3>
<form #f=ngForm (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Task title</mat-label>
        <input name="title" matInput required ngModel #title="ngModel">
        <mat-error *ngIf="title.touched && title.errors?.['required']">Enter the title!</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <select matNativeControl name="user" ngModel>
          <option value="">N/A</option>
          <option *ngFor="let u of users | async" [value]="u.id">{{ u.username }}</option>
        </select>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Add</button>
    </div>
  </div>
</form>
